.btn {
    margin-right: 5px;
}

.navbar {
    border-radius: 0px;
}

.post{
    font-size: 2rem;
    margin-bottom: 20px;
    padding: 20px;
    border-bottom: solid;
    border-width: 1px;
}

.postDate {
    font-size: 1.5rem;
    font-style: italic;
    margin: 30px 0px;
}

.postForm {
    margin-bottom: 15px;
}

.postForm .textarea {
    border-color: #000;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    min-height: 150px;
}

.upvote {
    margin: 0 5px;
    display: inline-block;
}